/* Bloque principal: dashboard */
.dashboard {
  margin-top: 0.5em;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.5em;
  border: 2px solid #00d5ff;
  box-shadow: 
    0 0 1px #00d5ff,
    0 0 3px #00d5ff,
    inset 0 0 1px #00d5ff,
    inset 0 0 3px #00d5ff;
  transition: border 0.3s, box-shadow 0.3s;
  color: #ccc;
}

/* Modificador para hover en el bloque dashboard */
.dashboard:hover {
  background-color: #17012a;
  border: 4px solid #00d5ff;
  box-shadow: 
    0 0 10px #00d5ff,
    0 0 20px #00d5ff,
    inset 0 0 10px #00d5ff,
    inset 0 0 20px #00d5ff;
}

/* Elemento de bienvenida dentro del dashboard */
.dashboard__welcome {
  color: rgb(246, 252, 222);
  font-size: 2em;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

/* Elemento de lista de enlaces dentro del dashboard */
.dashboard__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-left: 0.5em;
  padding-bottom: 2em;
}

/* Elemento de enlace individual dentro de la lista de enlaces */
.dashboard__link {
  color: rgb(246, 252, 222);
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 0.5em;
  text-decoration: none;
}

/* Elemento de entrada para la búsqueda de playlist en el dashboard */
.dashboard__input-playlist {
  width: 100%;
  max-width: 20em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 4px solid #ccc;
  border-radius: 0.25em;
  background: linear-gradient(#2c003b, #23012f);
  cursor: pointer;
  border-color: #12fcff;
  box-shadow: 
    0 0 5px #00d5ff,
    0 0 10px #00d5ff,
    inset 0 0 5px #00d5ff,
    inset 0 0 10px #00d5ff;
  color: #ccc;
  font-size: 1em;
}

/* Sección desplazable dentro del dashboard */
.dashboard__scroll-section {
  overflow-y: scroll;
}

/* Botón para mostrar el dashboard */
.show-dashboard {
  background-color: #250045;
  border: 2px solid #12fcff;
  color: white;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px 2px 2px 25px;
  transition: border 0.3s, box-shadow 0.3s;
  position: absolute;
  top: 115px;
}

/* Modificador para hover en el botón de mostrar el dashboard */
.show-dashboard:hover {
  box-shadow: 
    0 0 10px #00d5ff,
    0 0 20px #00d5ff,
    inset 0 0 10px #00d5ff,
    inset 0 0 20px #00d5ff;
}

@media (max-width: 768px) {
  /* Establecer la dirección del flex a columna para evitar apretujamiento */
  .dashboard {
    flex-direction: row;
    justify-content: flex-start; /* Alinear al principio */
    align-items: center; /* Centrar elementos horizontalmente */
    padding: 1em; /* Agregar algo de relleno para no tocar los bordes */
    height:60%; /* Altura automática para contener todos los elementos */
    max-height: none; /* Eliminar max-height para permitir crecimiento */
  }

  .dashboard__welcome {
    font-size: 1.5em;  /* Reducir el tamaño del texto */
  }

  .dashboard__links {
    flex-direction: row; /* Poner enlaces uno debajo del otro */
    justify-content: center;
    align-items:center;
    margin: 0; /* Restablecer márgenes */
    padding: 0.5em; /* Espaciado interior para respirabilidad */
  }

  .dashboard__link {
    font-size: 0.9em;  /* Reducir el tamaño del texto */
    margin: 0.5em;
  }

  .dashboard__input-playlist {
    order: -1; /* Colocar el input de búsqueda arriba de los enlaces */
    margin-bottom: 1em; /* Añadir margen inferior para separar del siguiente elemento */
    width: 80%;
    padding-right:0.5em;
  }

  /* Si decides mantener la sección desplazable en la vista móvil, ajusta aquí */
  .dashboard__scroll-section {
    /* Estilos para ajustar la sección desplazable si se decide mostrar */
  }
}
