.playlist-details {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; 
    margin: auto; 
}

.playlist-details h1, .playlist-details p, .playlist-details h3 {
    color: #EAEAEA; 
}

.playlist__list {
    width: 100%; 
    padding: 0;
    list-style-type: none; 
}

.playlist__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0; 
    border-bottom: 1px solid #128dff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.playlist__cover {
    width: 80px; 
    height: 80px; 
    border-radius: 40px; 
    margin-right: 15px;
}

.playlist__form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}
.playlist__form label {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.playlist__form textarea {
    width: 60%;
    height: 70px;
    background-color:#17012a;
    padding: 10px;
    border-radius: 4px;
}
.playlist__form button {
    margin-top: 10px;
}

.playlist__comments {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.playlist__comments ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Estilo para cada comentario */
.playlist__comments li {
    background-color:#17012a;
    border-color: #888;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    list-style: none;
}

/* Estilo para el nombre del usuario */
.playlist__comments li p.usuario {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para el contenido del comentario */
.playlist__comments li p.comentario {
    margin-bottom: 5px;
}

/* Estilo para la fecha del comentario */
.playlist__comments li p.fecha {
    font-size: 12px;
    color: #888;
}